body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(219, 255, 42, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: bounce-in-top 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 1s ease both;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
}

.input-container input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.3);
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

@keyframes bounce-in-top {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    /* 70% {
        transform: translateX(30px);
        opacity: 1;
    } */
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
